header {
  height: 200px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBike {
  justify-content: center;
  max-width: 20%;
}

body {
  margin: 0;
  background-color: #E3E0E0;
}

#nav {
  background-color: black;
  height: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0;
}

li {
  margin-left: 20px;
  text-decoration: none;
}

a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
  background-color:black;
  color:white;
  list-style: none;
  position: relative;
}

ul li ul li{
  margin-bottom:10px;
  margin-left: 0;
  padding: 0;
}

ul li ul li a{
  margin:0;
  padding: 0;
  text-align:center;
}

a:hover {
  color: crimson;
  transition: 0.5s;

}

p{
  padding: 0;
  margin: 0;
}

#HondaProductsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#YamahaProductsSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#YamahaBrandHeader {
  order: 1;
  margin-top: 15px;
  margin-left: 50px;
  color: #0540B5;
  text-decoration: underline #0540B5 ;
}

#HondaBrandHeader {
  order: 1;
  margin-top: 15px;
  margin-left: 50px;
  color: #CC0000;
  text-decoration: underline #CC0000;
}

#Yamaha{
  margin-top: 100px;
}

.product {
  margin: 10px 1px 10px 5px;
  display: block;
  text-align: center;
  width: 200px;
  height: 200px;
}

.pic {
  height: 70%;
  width: 100%;
}

.btnPurchase {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 1px;
  background-color: black;
  color: white;
}

.btnExplore {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3px;
  background-color: red;
  color: white;
}

.btnExplore:hover {
  color: yellowgreen;
}

.btnPurchase:hover {
  color: yellowgreen;
}
